.taskItem {

  height: 4.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--gray-400);
  border-radius: 8px;
  padding: 1rem;

  & + .taskItem {
    margin-top: 0.75rem;
  }
  
  input {
    display: none;
  }
  
  input + label:before {
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 16px;
    background: none;
    border: 2px solid var(--blue-500);
    display: inline-block;
    margin-right: 0.75rem;    
  }

  input:checked + label:before {
    background-size: 0.875rem;
    background-image: url('/src/assets/checked-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--purple-700);
    border: 2px solid var(--purple-700);
  }

  > p {
    display: block;
    margin-left: 0.95rem;
    font-size: 0.875rem;
    color: var(--gray-100);
  }

  button {
    color: var(--gray-300);
  
    > svg {
      height: 18px;
      width: 18px;
    }

    &:hover {
      color: var(--red-500)
    }
  }
}


